[submodule "wikiconv-sort"]
	path = wikiconv-sort
	url = https://github.com/WikiCommunityHealth/wikiconv-sort.git
	branch = main
[submodule "wikiconv-mongodb"]
	path = wikiconv-mongodb
	url = https://github.com/WikiCommunityHealth/wikiconv-mongodb.git
	branch = main
